<h3 mat-dialog-title>Agregar Nueva Comida</h3>
<div mat-dialog-content>
  <form [formGroup]="foodForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description_food"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Precio</mat-label>
      <input matInput type="number" formControlName="price" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>URL de la Imagen</mat-label>
      <input matInput formControlName="image_url">
    </mat-form-field>
    <div class="checkbox-container">
      <mat-checkbox formControlName="active">Activo</mat-checkbox>
    </div>
    <div mat-dialog-actions>
      <button mat-button type="button" (click)="onCancel()">Cancelar</button>
      <button mat-button type="submit" [disabled]="foodForm.invalid">Guardar</button>
    </div>
  </form>
</div>