<h3 mat-dialog-title>Detalles de la Venta</h3>
<div mat-dialog-content>
  <form [formGroup]="saleForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Nombre del Cliente</mat-label>
      <input matInput formControlName="client_name" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>NIT/CI</mat-label>
      <input matInput formControlName="nit_ci" required>
    </mat-form-field>
    <mat-list>
      <mat-list-item *ngFor="let detail of data.details">
        {{ detail.food_name }} - Cantidad: {{ detail.quantity }} - Total: {{ detail.total }}
      </mat-list-item>
    </mat-list>
    <div mat-dialog-actions>
      <button mat-button type="button" (click)="onCancel()">Cancelar</button>
      <button mat-button type="submit" [disabled]="saleForm.invalid">Guardar</button>
    </div>
  </form>
</div>